<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2> Dashboard</h2>
        <br/>
        <p>Students in Class</p>
        <ul>
            {% for studentid, first, last in students%}
            <li>{{studentid, first, last}}</li>
            {% endfor %}
        </ul>
        <p><a href="student/add">Add Student</a></p>
        <br/>
        <p>Quizzes in Class</p>
        <ul>
            {% for quizid, subject, qs, date in quizzes%}
            <li>{{quizid, subject, qs, date}}</li>
            {% endfor %}
        </ul>
        <p><a href="quiz/add">Add Quiz</a></p>
        <p><a href="logout">Log Out</a></p>
    </body>
</html>
