<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2> Dashboard</h2>
        <br/>
        <p>Students in Class</p>
        <ul>
            {% for Studentid, First, Last in students %}
            <li>{{ Studentid, First, Last }}</li>
            {% endfor %}
        </ul>
        <p><a href="student/add">Add Student</a></p>
        <br/>
        <p>Quizzes in Class</p>
        <ul>
            {% for Quizid, Subject, Qs, Date in quizzes %}
            <li>{{ Quizid, Subject, Qs, Date }}</li>
            {% endfor %}
        </ul>
        <p><a href="quiz/add">Add Quiz</a></p>
        <p><a href="logout">Log Out</a></p>
    </body>
</html>
