<!DOCTYPE html>
<html>
    <head>
        <title>Add Quiz</title>
    </head>
    <body>
        <h2> Add Quiz</h2>
        <form action='/quiz/add' method="post">
            <label for "subject"> Subject:</label>
            <input type="text" id="subject" name="subject">
            <label for "qs"> Number of Questions:</label>
            <input type="number" id="qs" name="qs">
            <label for "date"> Quiz Date(MM/DD/YY):</label>
            <input type="text" id="date" name="date">
            <input type="submit" value="Add Quiz">
        </form>
    </body>
</html>
