<!DOCTYPE html>
<html>
    <head>
        <title>Student Score</title>
    </head>
    <body>
        <h2> Student Score</h2>
        <br/>
        <p>
            <ul>
                {% for quizid, grade, date in qscr %}
                    {% if quizid == null %}
                        No Results
                    {% else %}
                        <li>{{ quizid, grade, date }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        <p><a href="/dashboard">Return to Dashboard</a></p>
    </body>
</html>
