<!DOCTYPE html>
<html>
    <head>
        <title>Student Score</title>
    </head>
    <body>
        <h2> Student Score</h2>
        <br/>
        <p>
            <ul>
                {% if not qscr %}
                    No Results
                {% else %}
                    {% for quizid, grade, date in qscr %}
                        <li>{{ quizid, grade, date }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        <p><a href="/dashboard">Return to Dashboard</a></p>
    </body>
</html>
