<!DOCTYPE html>
<html>
    <head>
        <title>Student Score</title>
    </head>
    <body>
        {% for post in qscr %}
        <h2> {{ post['id'] }}'s Score</h2>
        <br/>
        <p>
            {% if None %}
            No Results
            {% endif %}
            <ul>
                {% for quizid, grade in student_result %}
                <li>{{ quizid, grade }}</li>
                {% endfor %}
            </ul>
        <p><a href="dashboard">Return to Dashboard</a></p>
        {% endfor %}
    </body>
</html>
